@model RestaurantManagementSystem.Models.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TableId" class="control-label"></label>
                <select asp-for="TableId"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.Tables,"TableId", "Location"))">
                </select>
                <span asp-validation-for="TableId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReserveDate" class="control-label"></label>
                <input asp-for="ReserveDate" class="form-control" />
                <span asp-validation-for="ReserveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="RestaurantTables" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
